body {
    font-family: 'Podkova', serif;
}

#form {
    width: 100%;
}

#tasks-output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-card {
    margin: 5px;
    max-width: 400px;
    min-width: 300px;

}

.el-button-group {
    float: right;
}

i.el-icon-delete {
    pointer-events: none;
}