<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasker</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Podkova', serif;
        }

        .tasks {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .box-card {
            margin: 5px;
            max-width: 500px;
            min-width: 500px;

        }
    </style>
</head>

<body>
    <el-container id="app">

        <el-header style="font-size:40px;  ">TASKER</el-header>
        <el-main>

            <el-form style="max-width: 400px;position: relative;margin:0px auto;padding:20px;">
                <el-form-item label="Название">
                    <el-input v-model="controls.label" name="label"></el-input>
                </el-form-item>
                <el-form-item label="Описание задачи">
                    <el-input name="text" type="textarea" v-model="controls.text"></el-input>
                </el-form-item>
                <el-button type="primary" @click="checkForm" spellcheck="true" style="width: 100%;">Task!</el-button>
            </el-form>

            <div class="tasks">
                <div v-for="value in res" class="text item">
                    <el-card class="box-card">
                        <h3>{{ value.label }}</h3>
                        <p>{{ value.text }}</p>
                        <span>

                            {{new Date(value.date).getHours()}}:{{new Date(value.date).getMinutes()}}
                            {{new Date(value.date).getDate() > 10 ? new Date(value.date).getDate():'0' + new Date(value.date).getDate()}}.{{new Date(value.date).getMonth() > 10 ? new Date(value.date).getMonth():'0' + (new Date(value.date).getMonth() + 1)}}.{{new Date(value.date).getFullYear() }}
                        </span>
                    </el-card>
                </div>
            </div>

            <el-main>
    </el-container>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            res: '',
            controls: {
                login: "",
                password: ""
            }
        },
        async created() {
            this.res = await this.fetchData()
        },
        methods: {
            eMessage(err) {
                this.$message(err);
            },
            fetchData: async function () {
                let res = await fetch('/getTasks')
                let data = await res.json()
                return data.reverse()
            },
            sendData: function (label, text) {

                let data = {
                    label: label,
                    text: text,
                    date: new Date()
                }
                fetch('/api/addTask', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                this.getData()

            },
            getData: async function () {
                this.res = await this.fetchData()
            },
            clearForm: function () {
                this.controls.label = ''
                this.controls.text = ''
            },
            checkForm: function (e) {


                if (!this.controls.label && !this.text) {
                    this.eMessage('Заполните форму')
                    return
                }
                if (!this.controls.label) {
                    this.eMessage('Введите название задачи')
                }
                if (!this.controls.text) {
                    this.eMessage('Введите название задачи')
                }
                if (this.controls.label && this.controls.text) {
                    this.sendData(this.controls.label, this.controls.text)
                    this.clearForm()
                    this.success()
                }
                e.preventDefault();
            },
            success() {
                this.$notify({
                    title: 'Added',
                    message: 'Task:'+this.controls.label+' successful added',
                    type: 'success'
                });
            },
        }
    })

</script>

</html>